[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "conformalClassification"]
	path = conformalClassification
	url = https://github.com/cran/conformalClassification
